<div class="text-center">

    <h1 class="text-info">Подтверждение Запроса</h1>

    <p>Мы получили от Вас запрос и свяжемся с Вами как можно скорее</p>

    <img src="/images/patio.jpg" width="80%" />

</div>

